/* shared style */
body{
    font-family: 'Open Sans', sans-serif;
}

/* nav related style */
.btn-sk{
    color: white;
    background-color: darkorange;
    border: 0;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 700;
    padding: 15px 18px;
}


.text-primary{
    color: darkorange;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    color: black;
    font-size:70px;
    font-weight:800;
}
nav >ul{
    list-style: none;
    display: flex;
    align-items: center;
}
nav li{
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color: black;
    
}
button{
    margin: 10px;
}
/* header style */
.first-sec{
    background-color: antiquewhite;
  
  background-repeat: no-repeat;
  background-position: bottom right;
}


.banner{
    padding: 30px 0px 30px 150px;
    display: flex;
    align-items: center;
}
 .profile-c{
    

}
/* resume coloumn */
.resume